{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'evara/assets/imgs/theme/favicon.svg' %}">
    <!-- Template CSS -->
    <link href="{% static 'evara/assets/css/main.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    
    {% include 'admin/navigation.html' %}

    <main class="main-wrap">
        {% include 'admin/header.html' %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>$13,456.5</span>
                                <span class="text-sm">
                                    <!-- Shipping fees are not included -->
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-home"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Hotels</h6> <span>{{hotel_count}}</span> 
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-person"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Customers</h6><span>{{booking_customers_count}}</span>
                                <span class="text-sm">
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Earning</h6> <span>{{total_paid_amount}}</span>
                                <span class="text-sm">
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            
            <!-- table-responsive end// -->
                </div>
            </div>
            
         
    </main>
    <script src="{% static 'evara/asset/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'evara/asset/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'evara/asset/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'evara/asset/js/vendors/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'evara/asset/js/vendors/jquery.fullscreen.min.js' %}"></script>
    <script src="{% static 'evara/asset/js/vendors/chart.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'evara/asset/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'evara/asset/js/custom-chart.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>