{% load static %}
{% include 'admin/base.html' %}
{% include 'admin/navigation.html' %}
{% block content%}


    <main class="main-wrap">
        {% include 'admin/header.html' %}

        <section class="content-main">
            
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Approved Hotel Details</h4>
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice">
                                    <option selected>Status</option>
                                    <option>All</option>
                                    <option>Paid</option>
                                    <option>Chargeback</option>
                                    <option>Refund</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="align-middle" scope="col">Hotel Name</th>
                                        <th class="align-middle" scope="col">Address</th>
                                        <th class="align-middle" scope="col">Place</th>
                                        <th class="align-middle" scope="col">Email</th>
                                        <th class="align-middle" scope="col">Phone</th>
                                        <th class="align-middle" scope="col">Photo</th>
                                        <th class="align-middle" scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in hotels %}
                                    <tr>
                                        <td>{{i.hotel_name}}</td>
                                        <td>{{i.address}}</td>
                                        <td>{{i.place}}</td>
                                        <td>{{i.emails}}</td>
                                        <td>{{i.phone}}</td>
                                        <td>
                                            <img src="{{i.photo.url}}" alt="hotel_photo" style="height:49px; width:49px;">
                                        </td>
                                        
                                        <td>
                                          {% if i.approved %}
                                              <a class="btn btn-xs" href="{% url 'block' i.id %}">Block</a>
                                          {% endif %}
                                        </td>                                        
                                    </tr>
                                    {% endfor %}      
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            
         
    </main>
    {% endblock content%}
