{% load static %}
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h3 style="color: rgb(209, 138, 138);">Welcome,<span style="color: rgb(226, 66, 66);">'{{ admin_username }}'</span></h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_logout' %}"> <i class="icon material-icons md-dashboard"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li> 
                
                
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_view_hotel' %}"> <i class="icon material-icons md-home"></i>
                        <span class="text">Hotel List</span>
                    </a>
                </li> 
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_view_customers' %}"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customers Details</span>
                    </a>
                </li> 
                
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_logout' %}"> <i class="icon material-icons md-exit_to_app"></i>
                        <span class="text">LogOut</span>
                    </a>
                </li> 
            </ul> 
        </nav>
    </aside>