{% load static %}
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h3 style="color: rgb(209, 138, 138);">Welcome,<span style="color: rgb(226, 66, 66);">'{{ admin_username }}'</span></h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" > <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Hotels</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="page-products-list.html">Product List</a> -->
                        <a href="{% url 'admin_view_hotel' %}">Hotel List </a>
                        <a href="{% url 'approve_view_hotels' %}">Approved Hotel List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" > <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Customers</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'admin_view_customers' %}">customers deatils</a>
                    </div>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Rooms</span>
                    </a>
                    <div class="submenu">
                        <a href="page-seller-detail.html">Available Rooms</a>
                    </div>
                </li> -->
                
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                    </div>
                </li> -->
                
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>  -->

                <!-- <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_logout' %}"> <i class="icon material-icons md-comment"></i>
                        <span class="text">LogOut</span>
                    </a>
                </li>  -->
            </ul> 
        </nav>
    </aside>