<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<body>
    <div class="login-page">
        <div class="form">

          <form class="login-form" action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password1" placeholder="password" />
            <button type="submit" value="submit" >Login</button>

            {% for messages in messages %}
              <p style="color: red;">{{messages}}</p>
            {% endfor %}

            <p class="message">Not registered? <a href="/signup">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>