{% load static %}
<!-- Header Section Begin -->
 <header class="header-section">
      
      <div class="menu-item">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2">
                      <div class="logo">
                        <h2>hopsy</h2>

                      </div>
                  </div>
                  <div class="col-lg-10">
                      <div class="nav-menu">
                          <nav class="mainmenu">
                              <ul>
                                  <li><a href="">Home</a></li>
                                  <li><a>About Us</a></li>
                                  
                                  <li><a href="{% url 'blog' %}">News</a></li>
                                  <li><a href="{% url 'contact' %}">Contact</a></li>

                                  <li><a>SignUp</a>
                                      <ul class="dropdown">
                                          <li><a href="{% url 'hotel_signup' %}">Hotel SignUp</a></li>
                                          <li><a href="{% url 'user_signup' %}">User SignUp</a></li>
                                      </ul>
                                  </li>

                                  <li><a>Login</a>
                                      <ul class="dropdown">
                                          <li><a href="{% url 'hotel_login' %}">Hotel Login</a></li>
                                          <li><a href="{% url 'user_login' %}">User Login</a></li>
                                      </ul>
                                  </li>
                              </ul>
                              
                          </nav>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Header End -->

