{% load static %}
{% include 'commons/base.html' %}
{% include 'commons/navigation.html' %}
{% block content%}
<div class="breadcrumb-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb-text">
                      <h2><span style="color: rgb(228, 104, 104);">'{{hotel}}'</span> Our Rooms</h2>
                      <div class="bt-option">
                          <a href="./home.html">Home</a>
                          <span>{{customer}}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <section class="rooms-section spad">
      <div class="container">
          <div class="row">
            {% for i in rooms %}
              <div class="col-lg-4 col-md-6">
                  <div class="room-item">
                      <img src="{{ i.photo.url }}" alt="">
                      <div class="ri-text">
                          <h4>{{i.room_type}} Room</h4>
                          <h3> {{i.price}} ₹ <span>/Pernight</span></h3>
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="r-o">Size:</td>
                                      <td>30 ft</td>
                                  </tr>
                                  <tr>
                                      <td class="r-o">Capacity:</td>
                                      <td>{{i.capacity}} persons</td>
                                  </tr>
                                  <tr>
                                      <td class="r-o">Bed:</td>
                                      <td>{{i.number_of_beds}} King Beds</td>
                                  </tr>
                                  <tr>
                                      <td class="r-o">Services:</td>
                                      <td>Wifi, Television, Bathroom,...</td>
                                  </tr>
                              </tbody>
                          </table>
                          <a href="{% url 'room_reservation' i.room_number %}" class="primary-btn">Check Availability</a>
                      </div>
                  </div>
              </div>
              {% endfor %}

          </div>
      </div>
  </section>
{% endblock content%}

{% include 'commons/footer.html' %}