<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>signup</h1>
      <div>
            <form action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="username" placeholder="Enter your username"><br><br>
                  <input type="text" name="first_name" placeholder="Enter your firstname"><br><br>
                  <input type="text" name="last_name" placeholder="Enter your lastname"><br><br>
                  <input type="email" name="email" placeholder="Enter your email id"><br><br>
                  <input type="text" name="phone" placeholder="Enter your phone number"><br><br>
                  <input type="password" name="password1" placeholder="Enter your password"><br><br>
                  <input type="password" name="password2" placeholder="Enter your confirm password"><br><br>
                  <input type="submit" value="SIGNUP">
            </form>
      </div>
</body>
</html>