{% load static %}
{% include 'users/navigation.html' %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Management System</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'hms/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hms/css/styles.css' %}" type="text/css">
</head>

<body>
    
    <div class="offcanvas-menu-wrapper">      
    </div>

    <header class="header-section">
          
    
 
    {% include 'commons/hotel-list.html' %}

    {% include 'commons/customers-say.html' %}
    
    {% include 'commons/footer.html' %}
    <!-- Js Plugins -->
    <script src="{% static 'hms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hms/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hms/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'hms/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'hms/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'hms/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'hms/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'hms/js/main.js' %}"></script>
</body>

</html>