{% include 'hotels/hotel-base.html' %}
{% include 'hotels/hotel-navigation.html' %}
{% block content%}

<section class="content-main">
      <h1>Hotel<span style="color: rgb(209, 80, 80);"> '{{hotel}}' </span>add rooms</h1>
      <div class="row">
          
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
          <div class="col-lg-6">
              <div class="card mb-4">
                  <div class="card-body">
                      <div class="mb-4">
                          <label for="product_title" class="form-label">Room Number</label>
                          <input type="number" placeholder="Type here" class="form-control" id="product_title" name="room_number">
                      </div>

                  
                      <div class="mb-4">
                          <label for="product_title" class="form-label">Floor</label>
                          <input type="number" placeholder="Type here" class="form-control" id="product_title" name="floor_number">
                      </div>

                      <div class="mb-4">
                          <label for="product_title" class="form-label">Capacity</label>
                          <input type="number" placeholder="Type here" class="form-control" id="product_title" name="capacity">
                      </div>

                      <div class="mb-4">
                          <label for="product_title" class="form-label">Number of beds</label>
                          <input type="number" placeholder="Type here" class="form-control" id="product_title" name="number_of_beds">
                      </div>

                      <div class="mb-4">
                          <label for="product_title" class="form-label">Price</label>
                          <input type="text" placeholder="Type here" class="form-control" id="product_title" name="price">
                      </div>
                      <div class="mb-4">
                          <label for="product_title" class="form-label">Room Type</label><br><br>
                          <select id="room_type" name="room_type">
                              <option value="King">King</option>
                              <option value="Luxury">Luxury</option>
                              <option value="Normal">Normal</option>
                              <option value="Economic">Economic</option>

                          </select><br><br>
                      </div>
                      
              <div class="card mb-4">
                  <div class="card-body">
                      <div>
                          <label class="form-label">Images</label>
                          <input class="form-control" type="file" name="photo">
                      </div>
                  </div>
              </div>
              <div>
                  <button class="btn btn-md rounded font-sm hover-up ml-150" type="submit">Add Room</button>
              </div>
          </form>

              
              <!-- card end// -->
          </div>
      </div>
  </section>
{% endblock content%}
