{% load static %}
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h3 style="color: rgb(209, 138, 138);">Welcome,<span style="color: rgb(226, 66, 66);">'{{hotel.hotel_name}}'</span></h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
             <ul class="menu-aside">

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'logout' %}"> <i class="icon material-icons md-dashboard"></i></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
               
                <li class="menu-item h">
                    <a class="menu-link" href="{% url 'add_hotel_room'  %}"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add Rooms</span>
                    </a>           
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'add_hotel_facilities'  %}"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add Facilities</span>
                    </a>           
                </li>

                <li class="menu-item h">
                    <a class="menu-link" href="{% url 'hotels_view_room_details'  %}"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">View Rooms</span>
                    </a>           
                </li>

                <li class="menu-item h">
                    <a class="menu-link" href="{% url 'hotel_view_facilities'  %}"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">View Facilities</span>
                    </a>           
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="{% url 'room_booking_details' %}"> <i class="icon material-icons md-local_shipping"></i>
                        <span class="text">Booking Details</span>
                    </a>
                </li>
                
                <!-- <li class="menu-item">
                    <a class="menu-link" href="{% url 'logout' %}"> <i class="material-icons md-logout"></i></i>
                        <span class="text">LogOut</span>
                    </a>
                </li> -->

            </ul> 
            
        </nav>
    </aside>
    <main class="main-wrap">

        <header class="main-header navbar">
            <div class="col-search">                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    </li>
                    <!-- <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="{% static 'assets/imgs/people/avatar2.jpg' %}" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li> -->

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link btn-icon"><span style="color: red;">{{hotel.hotel_name}}</span> logout <i class="material-icons md-exit_to_app"></i></a>
                    </li>
                    

                </ul>
            </div>
        </header>