{% load static %}
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="{% static 'assets/imgs/theme/logo.svg' %}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Avilability</span>
                    </a>
                    <div class="submenu">

                        <a href="{% url 'room_availability' %}">Room</a>
                        <a href="#">Facilities</a>

                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" > <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add Details</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'add_hotel_room'  %}">Add Rooms</a>
                        <a href="{% url 'add_hotel_facilities' %}">Add Facilities</a>
                    </div>
                </li>

                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Views</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'hotels_view_room_details' %}">Rooms</a>
                        <a href="{% url 'hotel_view_facilities' %}" class="active">Facilities</a>
                        <!-- <a href="page-orders-detail.html">Order detail</a> -->
                    </div>
                </li>

                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Customers</span>
                    </a>
                    
                </li> -->
                

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                    </div>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'logout' %}"> <i class="material-icons md-perm_identity"></i></i>
                        <span class="text">LogOut</span>
                    </a>
                </li>
                
            </ul> 
        </nav>
    </aside>
    <main class="main-wrap">

        <header class="main-header navbar">
            <div class="col-search">
                <h3>welcome <span style="color: brown;">"{{hotel.hotel_name}}"</span> hotel</h3>

                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="{% static 'assets/imgs/people/avatar2.jpg' %}" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>