{% include 'hotels/hotel-base.html' %}
{% include 'hotels/hotel-navigation.html' %}
{% block content%}

<section class="content-main">
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" style="text-align: center;">Rooms Booking Details</h2>
          </div>
          
          <!-- {% for messages in messages %}
            <div class="alert alert-success" role="alert">
                {{messages}}
            </div>
          {% endfor %}<br> -->
      </div>

      <div class="card mb-4">
          
          <div class="card-body ">
              <div class="row  gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                  {% for i in order %} 
                  {%for j in booking %}
                  {% for k in room %}

                  <div class="col">
                      <div class="card card-product-grid ">
                          
                          <div class="info-wrap">
                              <p class="title text-truncate">Customer : {{i.customer}}</p>
                              <p class="title text-truncate">Hotel : {{i.hotel}}</p>
                              <p class="title text-truncate">Room : {{k.room_type}}</p>

                              <p class="title text-truncate">Email : {{i.email_id}}</p>
                              <p class="title text-truncate">Room Number : {{i.room_id}}</p>
                              <p class="title text-truncate">Check In Date  : {{j.check_in}}</p>
                              <p class="title text-truncate">Check Out Dtae : {{j.check_out}}</p>

                              <p class="title text-truncate">Status : {{i.status}}</p>
                              <p class="title text-truncate">Booking Date : {{i.boock_date}}</p>

                              <div class="price mb-2">Paid Amount : {{i.amount}}</div> <!-- price.// -->   
                          </div><br>

                      </div> <!-- card-product  end// -->

                  </div> <!-- col.// -->
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}
              </div> <!-- row.// -->
          </div> <!-- card-body end// -->
      </div> <!-- card end// -->

  </section> <!-- content-main end// -->
{% endblock content%}
